.all{
	width: 1400px;
	height: 2400px;
	position: relative;
	background-color: #E0FFFF;
}
.first{
	position: relative;
	left: 100px;
	top: 1px;
	height: 120px;
}
#logo{
	width: 500px;
	height: 100px;
}
form{
	position: relative;
	left: 800px;
	top: -80px;
	border-color: blue;
}
#search{
	float: left;
	width: 200px;
	padding: 10px;
	border: 1px solid;
}
#submit{
	float: left;
	width: 35px;
	height: 35px;
	background-color:gray;
}
#click{
	width: 20px;
	height: 20px;
	left: 290px;
	top: 5px;
	position: relative;
}
#suqian{
	display: inline-block;
	width: 95px;
	height: 25px;
	font-size:23px;
	font-family:Microsoft YaHei;
	font-weight:bold;
	position: relative;
	left: 500px;
	bottom: 40px;
	color: lightblue;
}
.daohang{
	background-color: lightblue;
    border-top-left-radius: 10px;
    border-top-right-radius:10px ;
    text-decoration:none;
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
     padding-left: 10px;
    position: relative;
    left: 100px;
}
.bannar{
	width: 1200px;
	height: 340px;
	top: 180px;
	left: 50px;
	position: absolute;
}
.content{
	width: 150px;
	height: 337px;
	padding-right: 50px;
	position: absolute;
	top: 180px;
	right: 200px;
	background-color: rgba(0,0,0,0.1);
	line-height: 3.5em;
}
.content li a{
	color: #6498ED;
	font-size: 30px;
}
.spot{
	position: absolute;
	top: 540px;
    left: 600px;
}
.spot p{
	font-size: 25px;
	color: #649;
}
.out{
	background-color: #B0C4DE;
	height: 600px;
	margin-top: 400px;
}
#bawang{
	height: 500px;
	width: 400px;
}
.hu{
	height: 250px;
	width: 400px;
}
#santai{
	height:250px; 
	width: 400px;
}
#hongze{
    height: 250px;
    width: 800px;
}
 .out ul{
    	 width: 1200px;
         padding-top: 20px; 
}
.out li{ 
    	 float: left;
         position: relative;
         width: 398px;
 }
.out .img-margin{
         margin-left: 1px;
         margin-right: 5px;
}
.out li div{
       background-colo:rbga(0,0,0,0);
       position: absolute;
       top: 215px;
       width: 398px;
       height: 45px;
       line-height: 45px;
}
.out li p{
       display: inline-block;
       color: #fff;
       font-size: 20px;
}
.out #left div{
       position: absolute;
       top: 470px;
}  
.out p:first-child{
    font-size: 20px;
    margin-left: 38px;
}
.middle{width: 1200px;
           margin:0 auto; 
}
.last p{text-align: center;
    	    line-height: 120px
}
#zixun{
	font-size: 18px;
	color: red;
}
#visit{
	position: relative;
	left: 50px;
}
.banquan{
	text-align: center;
	font-size: 14px;
	color: black;
}
